.home-heading{
    margin-top: 110px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.first-heading{
    color: rgb(55,65,81);
    font-size: 40px;
}

.home-para{
    font-size: 20px;
    line-height: 2;
    color: rgb(55,65,81);
}

.explore-btn{
    width: 150px;
    height: 40px;
    border-style: none;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(55,65,81);
    color: aliceblue;
    cursor: pointer;
   
}
.btn-div{

    width: 350px;
    display: flex;
    justify-content: space-between;
}
